.scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

/* custom colors  */
.scrollbar-primary::-webkit-scrollbar {
  background-color: #f5f5f5;
}
.scrollbar-primary {
  scrollbar-color: #69779b #f5f5f5;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #69779b;
}
