
 /*.date-picker {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 0.8rem;
    background-color: rgb(35, 250, 15);
    color: rgb(214, 10, 10);
    border: 10px solid #aeaeae;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
  }
    .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
  border-color: rgb(99, 2, 2);
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  top: 6px;
  width: 9px;
} */